# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc

# Data ----
*.geojson
*.tif
*.csv
*.pdf
*.xlsx
*.zip
raw/
*.RData
*.gpkg
*.rds
*.tar.xz
*.json
*.parquet

# Specific files & folders
figures/*
!figures/atlas/
!figures/webinar/
frontpage.svg
_targets
pubs/datapaper/*.docx
CLAUDE.md
prompt_plan.md
